<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-heart"></i>
                                <strong class="font-bold">Iris</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element"><i class="fa fa-heart fa-spin"></i></div>
            </li>
            
            @for(userMenu in userMenus){
                @if(tool.isEmpty(userMenu.listChildren!)){
                    <li>
                        <a class="J_menuItem" href="${ctxPath}${userMenu.url}" name="tabMenuItem">
                            <i class="fa fa-${userMenu.icon}"></i>
                            <span class="nav-label">${userMenu.name}</span>
                        </a>
                    </li>
                @}else{
                    <li>
                        <a href="#">
                            <i class="fa ${userMenu.icon}"></i>
                            <span class="nav-label">${userMenu.name}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            @for(subTitle in userMenu.listChildren){
                                <li>
                                    <a class="J_menuItem" href="${ctxPath}${subTitle.url}" name="tabMenuItem" >
                                        <i class="fa fa-${subTitle.icon}"></i>
                                        <span class="nav-label">${subTitle.name}</span>
                                    </a>
                                </li>
                            @}
                        </ul>
                    </li>
                @}
            @}

        </ul>
    </div>
</nav>