<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.iris.admin.mapper.DeptMapper">

    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="com.cn.iris.admin.entity.User">
        <id column="id" property="id" />
        <result column="user_acc" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="state" property="state" />
        <result column="remarks" property="remarks" />
    </resultMap>-->

    <select id="selectMenuListForPage" resultType="com.cn.iris.admin.entity.Dept">
        SELECT * FROM sys_dept
    </select>

    <delete id="deleteAllChildren" parameterType="java.lang.Long">
        DELETE FROM sys_dept WHERE p_ids like CONCAT('%[',#{pId},']%')
    </delete>

</mapper>